@page "/delivery-list"

<PageTitle>DELIVERIES</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services;
@using BootstrapBlazor.Components;
@inject DeliveryService deliveryService;
@inject OrderService orderService;


<h1>Deliveries</h1>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th align="center">Order #</th>
            <th>Customer</th>
            <th align="center">Zipcode</th>
            <th align="center">Date Created</th>
            <th align="center">Date Shipped</th>
            <th align="center">Date Delivered</th>
            <th>Driver</th>
            <th align="right">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (deliveryList != null)
        {

            foreach (var item in deliveryList)
            {
                <DeliveryRow deliveryObj="item" paramMethodAndId="sendOffersParent"></DeliveryRow>
            }
        }
    </tbody>
</table>
            if (showPopup)
            {
<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p>Send Offers to Drivers</p>
                <a>@selectedId</a>
                <button type="button" class="close" @onclick="closePopup"><span aria-hidden="true">Close</span></button>
                <OfferList paramIdOrder="idOrder"> </OfferList>
            </div>
        </div>
    </div>
</div>
            }



@code {
    public List<Delivery> deliveryList;

    public bool showPopup = false;
    public int selectedId;
    public int idOrder;

    public void GetDeliveries()
    {
        deliveryList = deliveryService.GetAll();
        deliveryList = deliveryList.OrderByDescending(Delivery => Delivery.idOrder).ToList();

    }

    protected override void OnInitialized()
    {
        GetDeliveries();
        base.OnInitialized();   
    }

    public void sendOffersParent(int id)
    {
        idOrder = id;
        showPopup = true;
    }

    public void closePopup()
    {
        showPopup = false;
    }
}
