@page "/delivery-list"

<PageTitle>DELIVERIES</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services;
@inject DeliveryService deliveryService;


<h1>Deliveries</h1>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th align="center">Order #</th>
            <th>Customer</th>
            <th align="center">Zipcode</th>
            <th align="center">Date Created</th>
            <th align="center">Date Shipped</th>
            <th align="center">Date Delivered</th>
            <th>Driver</th>
            <th align="right">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in deliveryList)
        {
            <DeliveryRow deliveryObj="item"></DeliveryRow>
        }
    </tbody>
</table>



@code {
    public List<Delivery> deliveryList;

    public void GetDeliveries()
    {
        deliveryList = deliveryService.GetAll();
    }

    protected override void OnInitialized()
    {
        GetDeliveries();
        base.OnInitialized();   
    }
}
