@using BlazorApp1.Data

@inject EFCoreDbContext conn;

<PageTitle>OFFERS</PageTitle>

<br />
<h1>Offers for Order #@paramIdOrder</h1>
<br />
Address:
<br />
<br />
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Zipcode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in driverList)
        {
            <OfferRow driverObj="row"> </OfferRow>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary" @onclick="sendOffersNow">Send Offers Now</button>

@code {
    [Parameter]
    public int paramIdOrder { get; set; }

    public List<Driver> driverList;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        driverList = conn.Driver.ToList();
        //conn.Entry(Driver).Reload();
    }

    private void sendOffersNow()
    {
    }
}
