
@page "/employee-list"
@using BlazorApp1.Data;
@inject EFCoreDbContext context;

<h3>Employee List</h3>

<SearchEmployee SearchRecord="SearchRecord"></SearchEmployee>
<br />
<a href="add-employee">Add New Employee</a>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Country Id</th>
            <th>City Id</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in employees)
    {
        <EmployeeRow employee="item"></EmployeeRow>
    }
    <tbody>

    </tbody>
</table>

@code {
    public List<Employee> employees = new List<Employee>();

    
    //public string SearchText { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        employees = context.Employee.ToList();
    }   

    public void SearchRecord(string search)
    {
        employees = context.Employee.Where(x => x.FirstName.Contains(search) ||
                                         x.LastName.Contains(search)).ToList();

    }
}
