
@page "/product-list"
@using BlazorApp1.Services;
@inject ProductsService productService;


<h3>Product List</h3>
<a href="add-product-form">Add New Product</a>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in products)
    {
        <ProductRowComponent product="@item"></ProductRowComponent>
    }
    <tbody>

    </tbody>
</table>

@code {
    public List<Products> products = new List<Products>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        products = productService.GetAll();
    }

   
}
