@page "/driver-list"
@using BlazorApp1.Data
@inject EFCoreDbContext conn;

<PageTitle>DRIVERS</PageTitle>

<h1>Drivers</h1>

<a href="./add-driver">New Driver</a>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>e-mail</th>
            <th>Driver License</th>
            <th>Address</th>
            <th>Zipcode</th>
            <th>Vehicle VIN</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in driverList)
        {
            <DriverRow driverObj="row" deleteDriver="deleteDriver"> </DriverRow>
        }
    </tbody>
</table>


@code {
    public List<Driver> driverList;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        driverList = conn.Driver.ToList();
        //conn.Entry(Driver).Reload();
    }

    private void deleteDriver(int xidDriver)
    {
        var obj = conn.Driver.Find(xidDriver);
        conn.Driver.Remove(obj);
        conn.SaveChanges();
    }
}
