@page "/edit-driver/{idDriver:int}"
@using BlazorApp1.Data
@inject EFCoreDbContext conn;
@inject NavigationManager navigator;

<h3>Edit Driver</h3>
<button type="button" class="btn btn-primary" @onclick="saveForm">Save</button>&nbsp&nbsp
<button type="button" class="btn btn-primary" @onclick="cancelForm">Cancel</button><br /><br />

<ShowDriver xDriver="driver"></ShowDriver>


@code {
    [Parameter]
    public int idDriver { get; set; }


    public Driver driver;
    //public List<City> cityList = new List<City>();
    //public List<State> stateList = new List<State>();
    //public List<Country> countryList = new List<Country>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        driver = new();
    }

    public void cancelForm()
    {
        navigator.NavigateTo("driver-list");
    }

    public void saveForm()
    {
        conn.Driver.Update(driver);
        conn.SaveChanges();
        navigator.NavigateTo("driver-list");
    }
}
