<EditForm Model="xDriver">
    <label>
        First Name: <InputText class="form-control" @bind-Value="xDriver.firstName" placeholder="Enter first name"></InputText>
    </label>
    <label>
        Last Name: <InputText class="form-control" @bind-Value="xDriver.lastName" placeholder="Enter last name"></InputText>
    </label><br />
    <label>
        Phone Number: <InputText class="form-control" @bind-Value="xDriver.phoneNumber" placeholder="Enter phone number"></InputText>
    </label>
    <label>
        e-mail: <InputText class="form-control" @bind-Value="xDriver.email" placeholder="Enter e-mail"></InputText>
    </label>
    <label>
        Driver License: <InputText class="form-control" @bind-Value="xDriver.driverLicense" placeholder="Enter driver license"></InputText>
    </label><br />
    <label>
        Address: <InputText class="form-control" @bind-Value="xDriver.address" placeholder="Enter address"></InputText>
    </label>
    <label>
        Zipcode: <InputText class="form-control" @bind-Value="xDriver.zipcode" placeholder="Enter zipcode"></InputText>
    </label><br />
    <label>
        Vehicle VIN: <InputText class="form-control" @bind-Value="xDriver.vehicleVIN" placeholder="Enter vehicle VIN"></InputText>
    </label><br />
</EditForm>

@code {

    [Parameter]
    public Driver xDriver { get; set; }

    //[Parameter]
    //public EventCallback<Order> SaveOrder { get; set; }

    //public List<Customer> customerList = new List<Customer>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //customerList = customerService.GetAll();
    }

}
